body {
    margin: 0;
    padding: 0;
    background: #f4efe9;
    font-family: Arial, sans-serif;
}

.main-container {
    width: 75%;
    margin: 40px auto;
}

.card {
    background: #1d3b52;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 35px;
    box-sizing: border-box;
}

.card-header {
    background: #0f2333;
    color: white;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

.form {
    padding: 5px;
}

.row {
    display: flex;
    gap: 35px;
    margin-bottom: 25px;
}

.col {
    width: 100%;
}

label {
    color: #fff;
    font-weight: bold;
    margin-bottom: 6px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 14px;
    margin-top: 8px;
    margin-bottom: 22px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

.submit-btn {
    width: 100%;
    padding: 18px;
    background: #0c324d;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

    .submit-btn:hover {
        background: #09293f;
        transform: translateY(-2px);
    }

.result-card {
    padding-bottom: 30px;
}

.no-data {
    color: #cbd2d8;
    text-align: center;
    padding: 25px;
}

.hidden {
    display: none !important;
}

.hikaye-box {
    background: #ffffff10;
    padding: 18px;
    margin-top: 10px;
    border-radius: 6px;
    color: #fff;
    white-space: pre-line;
}

/* Mini butonlar */
.mini-btn {
    background: #0c324d;
    color: #fff;
    border: none;
    padding: 10px 18px;
    margin-right: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.15s;
}

    .mini-btn:hover {
        background: #09293f;
    }

/* Geçmiş kutusu */
.history-item {
    padding: 10px 5px;
    margin-bottom: 10px;
    color: #dce4e9;
}

    .history-item .ozet {
        font-size: 14px;
        opacity: 0.8;
    }

/* MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: #000000aa;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 30px;
    width: 50%;
    border-radius: 10px;
    max-height: 80%;
    overflow-y: auto;
}
